* {
  box-sizing: border-box;
}
body {
  background-image: url("/assets/img/Bckground.png");
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-size: 100%;
  overflow-x: hidden;
  font-family: "SFUITextRegular", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}
p {
  line-height: 2;
  font-size: 20px;
  margin-bottom: 30px;
}
h2 {
  font-family: "SFUITextBold", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  max-width: 100%;
}

@font-face {
  font-family: "Pixeboy";
  src: url("/assets/fonts/Pixeboy.eot");
  src: url("/assets/fonts/Pixeboy.eot") format("embedded-opentype"),
    url("/assets/fonts/Pixeboy.woff2") format("woff2"),
    url("/assets/fonts/Pixeboy.woff") format("woff"),
    url("/assets/fonts/Pixeboy.ttf") format("truetype"),
    url("/assets/fonts/Pixeboy.svg#Pixeboy") format("svg");
}
@font-face {
  font-family: "SFUITextBold";
  src: url("/assets/fonts/SFUITextBold.eot");
  src: url("/assets/fonts/SFUITextBold.eot") format("embedded-opentype"),
    url("/assets/fonts/SFUITextBold.woff2") format("woff2"),
    url("/assets/fonts/SFUITextBold.woff") format("woff"),
    url("/assets/fonts/SFUITextBold.ttf") format("truetype"),
    url("/assets/fonts/SFUITextBold.svg#SFUITextBold") format("svg");
}

@font-face {
  font-family: "SFUITextBoldItalic";
  src: url("/assets/fonts/SFUITextBoldItalic.eot");
  src: url("/assets/fonts/SFUITextBoldItalic.eot") format("embedded-opentype"),
    url("/assets/fonts/SFUITextBoldItalic.woff2") format("woff2"),
    url("/assets/fonts/SFUITextBoldItalic.woff") format("woff"),
    url("/assets/fonts/SFUITextBoldItalic.ttf") format("truetype"),
    url("/assets/fonts/SFUITextBoldItalic.svg#SFUITextBoldItalic") format("svg");
}

@font-face {
  font-family: "SFUITextHeavy";
  src: url("/assets/fonts/SFUITextHeavy.eot");
  src: url("/assets/fonts/SFUITextHeavy.eot") format("embedded-opentype"),
    url("/assets/fonts/SFUITextHeavy.woff2") format("woff2"),
    url("/assets/fonts/SFUITextHeavy.woff") format("woff"),
    url("/assets/fonts/SFUITextHeavy.ttf") format("truetype"),
    url("/assets/fonts/SFUITextHeavy.svg#SFUITextHeavy") format("svg");
}

@font-face {
  font-family: "SFUITextHeavyItalic";
  src: url("/assets/fonts/SFUITextHeavyItalic.eot");
  src: url("/assets/fonts/SFUITextHeavyItalic.eot") format("embedded-opentype"),
    url("/assets/fonts/SFUITextHeavyItalic.woff2") format("woff2"),
    url("/assets/fonts/SFUITextHeavyItalic.woff") format("woff"),
    url("/assets/fonts/SFUITextHeavyItalic.ttf") format("truetype"),
    url("/assets/fonts/SFUITextHeavyItalic.svg#SFUITextHeavyItalic")
      format("svg");
}

@font-face {
  font-family: "SFUITextLight";
  src: url("/assets/fonts/SFUITextLight.eot");
  src: url("/assets/fonts/SFUITextLight.eot") format("embedded-opentype"),
    url("/assets/fonts/SFUITextLight.woff2") format("woff2"),
    url("/assets/fonts/SFUITextLight.woff") format("woff"),
    url("/assets/fonts/SFUITextLight.ttf") format("truetype"),
    url("/assets/fonts/SFUITextLight.svg#SFUITextLight") format("svg");
}

@font-face {
  font-family: "SFUITextLightItalic";
  src: url("/assets/fonts/SFUITextLightItalic.eot");
  src: url("/assets/fonts/SFUITextLightItalic.eot") format("embedded-opentype"),
    url("/assets/fonts/SFUITextLightItalic.woff2") format("woff2"),
    url("/assets/fonts/SFUITextLightItalic.woff") format("woff"),
    url("/assets/fonts/SFUITextLightItalic.ttf") format("truetype"),
    url("/assets/fonts/SFUITextLightItalic.svg#SFUITextLightItalic")
      format("svg");
}

@font-face {
  font-family: "SFUITextMedium";
  src: url("/assets/fonts/SFUITextMedium.eot");
  src: url("/assets/fonts/SFUITextMedium.eot") format("embedded-opentype"),
    url("/assets/fonts/SFUITextMedium.woff2") format("woff2"),
    url("/assets/fonts/SFUITextMedium.woff") format("woff"),
    url("/assets/fonts/SFUITextMedium.ttf") format("truetype"),
    url("/assets/fonts/SFUITextMedium.svg#SFUITextMedium") format("svg");
}

@font-face {
  font-family: "SFUITextMediumItalic";
  src: url("/assets/fonts/SFUITextMediumItalic.eot");
  src: url("/assets/fonts/SFUITextMediumItalic.eot") format("embedded-opentype"),
    url("/assets/fonts/SFUITextMediumItalic.woff2") format("woff2"),
    url("/assets/fonts/SFUITextMediumItalic.woff") format("woff"),
    url("/assets/fonts/SFUITextMediumItalic.ttf") format("truetype"),
    url("/assets/fonts/SFUITextMediumItalic.svg#SFUITextMediumItalic")
      format("svg");
}

@font-face {
  font-family: "SFUITextRegular";
  src: url("/assets/fonts/SFUITextRegular.eot");
  src: url("/assets/fonts/SFUITextRegular.eot") format("embedded-opentype"),
    url("/assets/fonts/SFUITextRegular.woff2") format("woff2"),
    url("/assets/fonts/SFUITextRegular.woff") format("woff"),
    url("/assets/fonts/SFUITextRegular.ttf") format("truetype"),
    url("/assets/fonts/SFUITextRegular.svg#SFUITextRegular") format("svg");
}

@font-face {
  font-family: "SFUITextRegularItalic";
  src: url("/assets/fonts/SFUITextRegularItalic.eot");
  src: url("/assets/fonts/SFUITextRegularItalic.eot")
      format("embedded-opentype"),
    url("/assets/fonts/SFUITextRegularItalic.woff2") format("woff2"),
    url("/assets/fonts/SFUITextRegularItalic.woff") format("woff"),
    url("/assets/fonts/SFUITextRegularItalic.ttf") format("truetype"),
    url("/assets/fonts/SFUITextRegularItalic.svg#SFUITextRegularItalic")
      format("svg");
}

@font-face {
  font-family: "SFUITextSemibold";
  src: url("/assets/fonts/SFUITextSemibold.eot");
  src: url("/assets/fonts/SFUITextSemibold.eot") format("embedded-opentype"),
    url("/assets/fonts/SFUITextSemibold.woff2") format("woff2"),
    url("/assets/fonts/SFUITextSemibold.woff") format("woff"),
    url("/assets/fonts/SFUITextSemibold.ttf") format("truetype"),
    url("/assets/fonts/SFUITextSemibold.svg#SFUITextSemibold") format("svg");
}

@font-face {
  font-family: "SFUITextSemiboldItalic";
  src: url("/assets/fonts/SFUITextSemiboldItalic.eot");
  src: url("/assets/fonts/SFUITextSemiboldItalic.eot")
      format("embedded-opentype"),
    url("/assets/fonts/SFUITextSemiboldItalic.woff2") format("woff2"),
    url("/assets/fonts/SFUITextSemiboldItalic.woff") format("woff"),
    url("/assets/fonts/SFUITextSemiboldItalic.ttf") format("truetype"),
    url("/assets/fonts/SFUITextSemiboldItalic.svg#SFUITextSemiboldItalic")
      format("svg");
}

/*------------------------------------*\
    Header
\*------------------------------------*/
header {
  background-color: #000134;
}
header .nav-primary {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #000134;
}
header a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
header ul {
  display: none;
  list-style: none;
  margin-bottom: -4px;
}
header a.menu div {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

header ul li.active:after {
  content: " ";
  display: inline-block;
  height: 4px;
  border-radius: 2px;
  background-color: white;
  width: 100%;
}
header ul li:last-child a {
  color: #000;
  font-weight: 600;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: white;
}

@media (min-width: 1025px) {
  header ul {
    display: flex;
  }
  header a.menu {
    display: none;
  }
}
/*------------------------------------*\
    Banner
\*------------------------------------*/
#banner {
  color: white;
  padding: 150px 0 150px;
}
#banner .left {
  text-align: center;
}
#banner .right {
  display: flex;
  justify-content: center;
}
#banner .right .img-container {
  position: relative;
}
#banner h1.title {
  font-size: 60px;
  font-family: "Pixeboy", sans-serif;
}
#banner h1.coming-soon {
  font-size: 45px;
  margin-top: 20px;
  line-height: 1.5;
  color: #fb01fb;
  font-family: "SFUITextHeavy", sans-serif;
}
#banner h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}
#banner h4 {
  font-size: 20px;
}
#banner a {
  display: inline-block;
  color: #000;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 40px;
  font-weight: 600;
  background-color: white;
}
#banner img {
  margin-top: 50px !important;
}
@media (min-width: 375px) {
  #banner h1.title {
    font-size: 70px;
  }
}
@media (min-width: 425px) {
  #banner h1.title {
    font-size: 80px;
  }
}
@media (min-width: 1025px) {
  #banner {
    padding-top: 150px;
  }
  #banner .left {
    text-align: left;
  }
  #banner h1.title {
    font-size: 100px;
  }
  #banner h1.coming-soon {
    font-size: 55px;
  }
  #banner h3 {
    font-size: 36px;
  }
  #banner h4 {
    font-size: 24px;
  }
  #banner img {
    margin-top: 0 !important;
  }
}

/*------------------------------------*\
    Half Text Half Image
\*------------------------------------*/
.half-image-half-text {
  color: white;
  padding: 150px 0 0;
  text-align: center;
}
.half-image-half-text h2 {
  line-height: 2;
}
.half-image-half-text img {
  max-width: 100%;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: inherit;
}
@media (min-width: 1025px) {
  .half-image-half-text {
    text-align: left;
  }
  .half-image-half-text img {
    margin-top: 0;
  }
}

/*------------------------------------*\
    Half Multi Image Halt Text
\*------------------------------------*/
.half-multi-image-half-text {
  color: white;
  padding: 150px 0 0;
  text-align: center;
}
.half-multi-image-half-text h2 {
  line-height: 2;
}
.half-multi-image-half-text h2.colored {
  color: #00e8f1;
  margin-top: 26px;
}
.half-multi-image-half-text img {
  margin-top: 50px;
}

@media (min-width: 1025px) {
  .half-multi-image-half-text {
    text-align: left;
  }
  .half-multi-image-half-text img {
    margin-top: 0;
  }
}

/*------------------------------------*\
    Text Block
\*------------------------------------*/
.text-block {
  padding: 150px 0 0;
  color: white;
  text-align: center;
}
.text-block h2 {
  margin-bottom: 40px;
}
.text-block p span {
  font-size: 20px;
  margin-top: 50px;
  display: inline-block;
  font-family: "SFUITextSemibold", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}
.text-block .person {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.text-block .person a {
  color: white;
  text-decoration: none;
}
.text-block .person a,
.text-block .person h4 {
  margin: 0 40px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
.text-block .person h4 {
  font-size: 24px;
  display: flex;
}
.text-block .person h4 a {
  margin: 0;
  margin-left: 20px;
}
.text-block .person h4 span {
  font-size: 16px;
}
@media (min-width: 1025px) {
  .text-block p span {
    font-size: 24px;
  }
  .text-block .person a {
    font-size: 24px;
  }
  .text-block .person h4 {
    font-size: 28px;
  }
  .text-block .person h4 span {
    font-size: 18px;
  }
  .text-block .person h4 a {
    margin-left: 40px;
  }
}

/*------------------------------------*\
    Roadmap
\*------------------------------------*/
.roadmap {
  color: white;
  padding: 150px 0;
}
.roadmap-container {
  text-align: center;
}
.roadmap-container h2 {
  line-height: 2;
  margin-bottom: 50px;
  font-size: 40px;
}

/* Count Down */
.count-down {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.count-down-item {
  margin-top: 50px;
  margin-right: 30px;
}
.count-down span {
  font-size: 36px;
  font-weight: 600;
  padding: 6px 8px;
  border: 3px solid #dc0a7a;
  border-radius: 5px;
}
.count-down span:first-child {
  margin-right: 2px;
}
.title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 1025px) {
  .count-down {
    justify-content: flex-start;
  }
}

/* Mint Stats Styles */
.mint-stats * {
  color: white;
  text-align: center;
  font-weight: 600;
}
.mint-stats h3 {
  font-size: 30px;
  margin-bottom: 2rem;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 40px;
  background-color: #0e0e40;
}
.stats h5 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.minted .value,
.holder span {
  font-size: 2rem;
  margin: 0 10px;
}
.minted,
.holder {
  padding: 30px 60px;
}
@media (min-width: 1025px) {
  .mint-stats h3 {
    font-size: 36px;
  }
  .stats h5 {
    font-size: 1.2rem;
  }
  .stats .value,
  .holder span {
    font-size: 2.3rem;
  }
}
